
.main-page{
	max-width: 95%;
}
.filter-block1>span,
.filter-block2>span {
	padding: 5px 15px;,
	margin-left: 5px;
	margin-right: 5px;
}
ul li.directionSource:hover {
    background-color: green;
    cursor: pointer;
}
ul li.directionTarget:hover {
    background-color: green;
    cursor: pointer;
}
.selected {
    background-color: green;
}

.exchangeSteps {
	background-color: #3076BF;
}
.calculator-wrapper{
	min-width: 70%;
}
.calculator-wrapper>div{
	font-size: 20px;
	margin-bottom: 1rem;
}

.news>div {
	margin-bottom: 1em;
	max-width: 100%;
	text-indent: 2em; /* Отступ первой строки в пикселах */
}
